
* {
    box-sizing: border-box;
  }
  
.animal{
  position :relative;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    float: left;
 border: solid;
border-radius: 10px;
 border-color: black;
  padding: 30px;
height: 300px;
}
.favAnim{
  position: absolute;
  top: 20px;
  right: 20px;


}
.favAnim:active{
  scale: 0.6;
  transition: scale 0.5s;
}

.animal img{
  width: 180px;
  height: 210px;
}

.mainView{
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

}