@import url('https://fonts.googleapis.com/css?family=Indie+Flower');/* importing Indie Flower font from google  */
@import url('https://fonts.googleapis.com/css?family=Inter');
body {
  background-color: #F8EDE3;
  margin: 0;
  padding: 0;
  font-family: serif;
}

