.item {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid;
  width: 170px;
  border-color: black;
  border-radius: 15px;
  color: #7d6e83;
}

.item img {
  border: dotted;
  border-radius: 50%;
}

.item:hover {
  scale: 1.2;
  transition: scale 0.5s;
  background-color: #7d6e83;
}

.homeItems {
  display: flex;
  gap: 50px;
}

h1 {
  text-align: center;
  color: #7d6e83;
  margin-bottom: 150px;
  font-size: 70px;
}
