.login {
  width: 250px;
  scale: 1.5;
  font-family: "IM FELL French Canon";
}

.login label {
  float: left;
  margin-top: 10px;
  height: 30px;
  font-size: 19px;
  color: #7d6e83;
}

.login input {
  float: right;
  width: 120px;
  height: 25px;
  margin-top: 15px;
  border-radius: 10px;
  border-color: #7d6e83;
}
.login button {
  margin-top: 25px;
  width: 100px;
  margin-left: 30%;
  background-color: transparent;
  border: none;
  font-family: "IM FELL French Canon";
  color: #7d6e83;
  font-size: 30px;
}

.login button:hover {
  scale: 1.5;
  transition: scale 0.5s;
}
