.animLine {
  width: 90%;
  display: flex;
  justify-content: space-between;
  border: solid;

  /* border-top-right-radius: 50px; */
  border-bottom-right-radius: 50px;
  align-items: center;
  color: #7d6e83;
  background-color: rgb(205, 175, 248);
}
.trash {
  margin-right: 30px;
}
.trash:hover {
  color: #7d6e83;
}
.animLine img {
  width: 100px;
  height: 100px;
}

.faveMain {
  width: 900px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
